@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

:root {
  --bg-primary: linear-gradient(
    90deg,
    rgb(239, 242, 247) 0%,
    7.60286%,
    rgb(237, 240, 249) 15.2057%,
    20.7513%,
    rgb(235, 239, 248) 26.297%,
    27.6386%,
    rgb(235, 239, 248) 28.9803%,
    38.2826%,
    rgb(231, 237, 249) 47.585%,
    48.1216%,
    rgb(230, 236, 250) 48.6583%,
    53.1306%,
    rgb(228, 236, 249) 57.6029%,
    61.5385%,
    rgb(227, 234, 250) 65.4741%,
    68.7835%,
    rgb(222, 234, 250) 72.093%,
    75.7603%,
    rgb(219, 230, 248) 79.4275%,
    82.8265%,
    rgb(216, 229, 248) 86.2254%,
    87.8354%,
    rgb(213, 228, 249) 89.4454%,
    91.8605%,
    rgb(210, 226, 249) 94.2755%,
    95.4383%,
    rgb(209, 225, 248) 96.6011%,
    98.3005%,
    rgb(208, 224, 247) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  font-family: "Nova Square", sans-serif;
}

/* attribut tag */

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
}

p {
  font-size: 30px;
}

input {
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgb(239, 239, 239);
  transition: 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0px 5px 4px 0px rgba(73, 141, 255, 0.3);
}

.btn-menu {
  border-radius: 0;
  font-size: 30px;
}

.btn-menu:hover {
  cursor: pointer;
  /* transform: scale(1.03); */
  transition: all 0.3s ease-out;
  border-bottom: 2px solid black;
  font-weight: bold;
  box-shadow: 0px 0px 2px 0px rgba(73, 141, 255, 0.3);
}

/* attribut tag */

/* atribute class */
.container {
  height: 100vh;
}

.login {
  width: 606px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 4px 0px rgba(73, 141, 255, 0.3);
}

/* atribute class */
